{
	"config": {
		"BEEHIIV_REGISTRATION_TOKEN": {{tojson .BEEHIIV_REGISTRATION_TOKEN}},
		"BEEHIIV_OAUTH_BASE_URL": {{tojson .BEEHIIV_OAUTH_BASE_URL}},
		"BEEHIIV_API_BASE_URL": {{tojson .BEEHIIV_API_BASE_URL}}
	}
}
